In [1]:
import pandas as pd

In [2]:
dic = {1:'one', 2:'two', 3:'three', 4:'four'}

In [3]:
ser = pd.Series(dic,name='Numbers')

In [5]:
ser

1      one
2      two
3    three
4     four
Name: Numbers, dtype: object

In [7]:
# Sorting series by index
ser.sort_index()

1      one
2      two
3    three
4     four
Name: Numbers, dtype: object

In [9]:
#it only return sort series but not sort series
ser.sort_index(ascending=False)

4     four
3    three
2      two
1      one
Name: Numbers, dtype: object

In [10]:
#to sort series use inplace method
ser.sort_index(ascending=True,inplace=True)

In [11]:
ser

1      one
2      two
3    three
4     four
Name: Numbers, dtype: object

In [12]:
#Sort values will sort by values (alphabetically)
ser.sort_values(ascending=True)

4     four
1      one
3    three
2      two
Name: Numbers, dtype: object

In [13]:
ser.sort_values(ascending=True,inplace=True)

In [14]:
ser

4     four
1      one
3    three
2      two
Name: Numbers, dtype: object